@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './Mixens';



$Raleway: 'Raleway', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;


// Primary ==============================

$Dark-Blue-O: hsl(217, 28%, 15%); 
//  (intro and email sign up background)

$Dark-Blue-M: hsl(218, 28%, 13%);
//  (main background)


$Dark-Blue-F: hsl(216, 53%, 9%);
//  (footer background)


$Dark-Blue: hsl(219, 30%, 18%);
//  (testimonials background)




// Accent ===============================

$Cyan: hsl(176, 68%, 64%);
//  (inside call-to-action gradient)


$Blue: hsl(198, 60%, 50%);
// (inside call-to-action gradient)


$Light-Red: hsl(0, 100%, 63%);
//  (error)




// Neutral ===============================

$White: hsl(0, 0%, 100%);







.main-section {
    @include Position-And-Size(relative , 100% , 100vh);
    background-color: $Dark-Blue;
    // Header =================================
    .header {
        @include Position-And-Size(default , 100% , 90px);
        background-color: transparent;
        .container {
            @include Position-And-Size(default , 100% , 100%);
            @include Center(flex , center , space-between);
            padding: 0px 10px;
            .logo {
                @include Position-And-Size(default , 10% , 100%);
                @include Center(flex , center , center);
                img {
                    width: 120px;
                }
            }
            .pages {
                @include Position-And-Size(default , 40% , 100%);
                @include Center(flex , center , space-around);
                p {
                    font-family: $Open-Sans;
                    color: $White;
                    font-weight: 700;
                    opacity: 0.5;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    // Header End

    .container {
        @include Position-And-Size(default , 100% , 100%);
        @include Grid(grid , 1fr , repeat(5 , auto));
        .image {
            @include Position-And-Size(default , 100% , 250px);
            @include Center(flex , center , center);
            img {
                height: 100%;
            }
            z-index: 10;
        }
        .title {
            @include Center(flex , center , center);
            text-align: center;
            h2 {
                color: $White;
                font-weight: 700;
                font-family: $Raleway;
            }
            z-index: 10;
        }
        .description {
            @extend .title;
            p {
                opacity: 0.6;
                color: $White;
                font-weight: 400;
                font-family: $Open-Sans;
            }
        }
        .btn {
            @include Center(flex , center , center);
            button {
                @include Position-And-Size(default , 150px , 40px);
                background-color: $Cyan;
                border: 0;
                border-radius: 15px;
                color: $White;
                font-weight: 700;
                font-family: $Open-Sans;
            }
            z-index: 10;
        }
    }
    .backImage {
        @include Position-And-Size(absolute , 100% , fit-content);
        bottom: -1%;
        img {
            width: 100%;
        }
    }
}





// Second Section 

.SecondSection {
    @include Position-And-Size(relative , 100% , fit-content);
    background: $Dark-Blue-M;
    padding: 20px;
    .container {
        @include Position-And-Size(default, 100% , 100%);
        @include Center(flex , center , center);
        flex-wrap: wrap;
        .card {
            @include Position-And-Size(default , 400px , 250px);
            @include Grid(grid , 1fr , repeat(3 , auto));
            margin: 15px 30px;
            .image {
                @include Center(flex , center , center);
                img {
                    width: 100px;
                }
            }
            .title {
                @include Center(flex , center , center);
                color: $White;
                font-weight: 700;
                font-family: $Raleway;
            }
            .desc {
                @include Center(flex , center , center);
                color: $White;
                font-weight: 400;
                font-family: $Open-Sans;
                opacity: 0.7;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}





//  Third Section

.ThirdSection {
    @include Position-And-Size(relative , 100% , 70vh);
    background-color: $Dark-Blue-M;
    @include Grid(grid , 1fr 1fr , 1fr);
    .image {
        @include Position-And-Size(relative , 100% , 100%);
        @include Center(flex , center , center);
        img {
            position: absolute;
            height: 100%;
        }
    }
    .content {
        @extend .image;
        @include Grid(grid , 1fr , repeat(4 , auto));
        .title {
            font-family: $Raleway;
            font-weight: 700;
            color: $White;
            font-size: 30px;
        }
        .desc1 {
            font-family: $Open-Sans;
            font-weight: 700;
            color: $White;
            opacity: 0.8;
        }
        .desc2 {
            @extend .desc1;
        }
        .link {
            span {
                position: relative;
                @extend .desc1;
                color: $Cyan;
                opacity: 1;
                border-bottom: 2px solid $Cyan;
                padding-right: 15px;
                border-bottom-right-radius: 3px;
                &::before {
                    content: '';
                    @include Position-And-Size(absolute , 10px , 10px);
                    background-color: $Cyan;
                    border-radius: 50%;
                    top: 50%;
                    right: -5%;
                    transform : translate(-50% , -50%);
                }
            }
        }
    }
}






// Four Section

.FourSection {
    @include Position-And-Size(relative , 100% , 60vh);
    background-color: $Dark-Blue-M;
    @include Center(flex , center , center);
    .container {
        @include Position-And-Size(default , 90% , 90%);
        @include Center(flex , center , center);
        flex-wrap: wrap;
        .card {
            @include Position-And-Size(default , 360px , 200px);
            background-color: $Dark-Blue;
            border-radius: 10px;
            @include Grid(grid , 1fr , 75% 25%);
            padding: 10px;
            margin: 15px;
            .category {
                @include Position-And-Size(default , 100% , 100%);
                h3 {
                    font-size: 15.5px;
                    color: $White;
                    font-family: $Open-Sans;
                    font-weight: 700;
                }
            }
            .person {
                @include Position-And-Size(default , 100% , 100%);
                @include Center(flex , center , start);
                .image {
                    @include Position-And-Size(default , 40px , 40px);
                    border-radius: 50%;
                    margin-right: 15px;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .info {
                    h2 {
                        font-size: 17px;
                        font-family: $Raleway;
                        font-weight: 700;
                        color: $White;
                    }
                    h4 {
                        font-size: 15px;
                        font-family: $Open-Sans;
                        font-weight: 700;
                        color: $White;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
